<html>
  <head>
    <title>Knock-Knock</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
  <h1>Knock-Knock</h1>
  <div class="joke">
      <span class="teller">Knock-Knock!</span><br/>
      <span class="tellee">Who's there?</span><br/>
      <span class="teller">{{joke.whos_there}}</span><br/>
      <span class="tellee">{{joke.whos_there}} who?</span><br/>
      <span class="teller">{{joke.answer_who}}</span><br/>
  </div>
  <span class="annotation">
    [id: {{joke.id -}}
    {%- if let Some(tags) = tags -%}; tags={{- tags -}}{%- endif -%}
    {%- if let Some(source) = joke.source %}; source={{- source -}}{%- endif -%}
    ]
  </span><br/>
  <form method="get" action="/">
  <input type="submit" value="Tell me another!"/>
  </form>
  <form method="get" action="/tell">
  <input type="submit" value="Ask me for one!"/>
  </form>
  <form method="get" action="/">
  <input type="text" name="id"/>
  <input type="submit" value="Find this joke"/>
  </form>
  </body>
</html>
