<html>
  <head>
    <title>Knock-Knock</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
  <h1>Submit A Knock-Knock Joke</h1>
  <form method="get" action="/add">
  <label for="id">Joke Id:</label>
  <input type="text" id="id" name="id"/><br/>
  <label for="who">Who's There:</label>
  <input type="text" id="who" name="who"/><br/>
  <label for="answer">Answer Who:</label>
  <input type="text" id="answer" name="answer"/><br/>
  <label for="tags">Tags:</label>
  <input type="text" id="tags" name="tags"/><br/>
  <label for="source">Source:</label>
  <input type="text" id="source" name="source"/><br/>
  <input type="submit" value="Add this joke"/>
  </form>
  {%- if let Some(error) = error -%}
  <div class="error">{{error}}</div>
  {%- endif -%}
  </body>
</html>
